
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Font Awesome
@import "~font-awesome/scss/font-awesome.scss";

body {
    background-color: #ececec;
}

.main-nav {
    top: 0;
    width: 100%;
    background: #fff;

}

.nav-text-container {
    padding-top: 24px;
    background: #fff;
    margin-bottom: 0px;
}

.contacts {
    > p {
        margin-bottom: 4px;
        font-size: 12px;
    }
}

.icons {
    > ul {
        transform: translateY(85%);
        text-align: right;
        padding: 0;
        > li {
            list-style-type: none;
            display: inline;
            padding-right: 24px;
            > a {
                text-decoration: none;
                > i {
                    font-size: 24px;
                    > span {
                        margin-top: -20px;
                        margin-left: -8px;
                        background-color: #f95353;
                    }
                }
            }
        }
    }
}

.logo {
    text-align: center;
    > a {
        > img {
            height: 70px;
        }
    }
}

.navbar {
    border: none;
    background: #fff;
    background-color: white !important;
    padding: 15px 30px !important;
    -webkit-box-shadow: 0px 2px 8px 0px #ebebeb;
    box-shadow: 0px 2px 8px 0px #ebebeb;
    margin-bottom:0px;

}

.nav-items-container {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    > .item {
        list-style: none;
        display: inline;
        padding: 0 8px;
        > a {
            text-decoration: none;
        }
    }

    > .active {
        > a {
            font-weight: 600;
            color: #000;
        }
    }
}

.banner-container {
    padding: 0;

    > img {
        height: 70vh;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.category-container {
    width: 100%;
    background-color: #023465;
    > ul {
        padding: 8px 0px;
        text-align: center;
        margin: 0;
        > li {
            padding: 0px 32px;
            list-style: none;
            display: inline;
            > a {
                text-decoration: none;
                color: #fff;
            }
        }
    }
}

.header-title {
    margin-top: 100px;
    text-align: center;
    font-weight: 600;
    color: #023465;
    font-size: 24px;
}

.header-content {
    font-size: 16px;
    text-align: center;
    width: 800px;
    margin: 0 auto;
    margin-bottom:50px;
}

.service {
    > a {
            > img {
            position: relative;
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }
    > .details {
        width: 100%;
        max-height: 50px;
        bottom: 0px;
        display: flex;
        > .icon {
            background-color: #023465;
            width: 15%;
            text-align: center;
            height: 50px;
            > i {
                display: block;
                margin: 10px;
                color: #fff;
            }
        }
        > ul {
            width: 85%;
            background-color: #ffffff;
            padding: 8px;
            margin: 0px;
            > li {
                margin: 0;
                padding: 0;
                list-style-type: none;
                > .description {
                    margin: 0;
                    padding: 0;
                }
                > .title {
                    font-size: 12px;
                    margin: 0;
                    padding: 0;
                    font-weight: 600px;
                    text-transform: uppercase;
                }
            }
        }
    }
}


.product-container {
    margin-bottom: 50px;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto 0;
    > .item {
        width: 200px;
        cursor: pointer;
        margin-right: 20px;
        margin-top: 20px;
        max-height: 300px;
        min-height: 300px;
        border: 1px solid #dbdbdb;
        > .image {
            margin-bottom: 16px;
            position: relative;
            > a {
                text-decoration: none;
                position: relative;
                img {
                    height: 180px;
                    min-height: 180px;
                    width: 100%;
                    object-fit: cover;
                }
            }
            > .img-hover {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 0;
                background: #302c2c;
                opacity: 0.7;
                visibility: hidden;
                height: 100%;
                width: 100%;
                text-align: center;
                > a {
                    color: #fff;
                    padding-right: 20px;
                    text-decoration: none;
                    > i {
                        padding-right: 8px;
                    }
                }
            }
            &:hover .img-hover {
               visibility: visible;
            }
        }
        > .content {
            text-align: left;
            padding: 16px;
            > .name {
                color: #000;
                font-weight: 600;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                > a {
                    color: #000;
                    text-decoration: none;
                }
            }
            > .location {
                color: #9b9a9a;
            }
            > .price {
                color: #023465;
            }
        }
    }
}

.link {
    margin-top: 30px;
    text-align: center;
    .btn-link {
        border: 1px solid #023465;
        padding: 10px 30px;
        font-weight: 700;
        border-radius: 50px;
        color: #fff;
        margin-top: 30px;
        background-color: #023465;
        &:hover {
            text-decoration: none;
            border: 1px solid #023465;
            background-color: #fff;
            color: #023465;
        }
    }
}

.banner {
    background: url('/img/book-banner.jpg');
    margin-top: 100px;
    min-height: 400px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(/images/business.jpg), no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/img/book-banner.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    > p {
        color: #fff !important;
    }
}

/**
 * Footer
 */
.footer {
    margin-top: 100px;
    border-top: 5px solid #023465;
    background-color: #101010;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 60px 0;
    > .footer-item {
        margin-right: 50px;
        > .title {
            font-weight: 600;
            color: #023465;
            font-size: 16px;
            line-height: 35px;
        }
        > img {
            margin-bottom: 20px;
            height: 50px;
        }
        > .media-icons  {
            color: #8b8b8b;
            text-decoration: none;
            padding-right: 14px;
            > i {
                font-size: 20px;
            }
        }
        ul {
            padding: 0;
            margin: 0;
            > li {
                list-style-type: none;
                margin-bottom: 8px;
                > a {
                    color: #8b8b8b;
                    text-decoration: none;
                }
            }
        }
    }
}

.copy-right {
    background-color: #101010;
    color: #fff;
    padding: 10px 20px;
    font-weight: 300px;
    text-align: center;
    > span  {
        font-weight: 400;
    }
}

.title {
    font-weight: 600;
    color: #333333;
    font-size: 16px;
    text-transform: uppercase;
}

.category {
    padding: 0px;
    margin: 0px;
    margin-top: 16px;
    > li {
        list-style-type: none;
        padding-bottom: 8px;
        > a {
            color: #636b6f;
        }
    }
}

.breadcrumb {
    margin-top: 20px;
    background-color: #ececec;
    padding-left: 0;
    margin-left: 0;
    > .active {
        font-weight: 600;
    }
}

.search-query {
    > h2 {
        margin-top: 0px;
        font-weight: 900;
        color: #333333;
    }
}

#product-result {
    justify-content: initial !important;
}

.red {
    color: red;
}

.flex {
    display: flex;
    > div {
        width: 50%;
    }
    > .content-flex {
        float: right;
        text-align: right;
    }
    > .subtitle-left {
        width: 50%;
        float: left;
    }
    > .subtitle-right {
        width: 50%;
        text-align: right;
    }
}

.alert-cart {
    border: 1px solid #d0d0d0;
    > .close {
        font-size: 30px;
        opacity: 1;
    }
}

.cart-content {
    display: flex;
    > .image {
        > a {
            > img {
                height: 150px;
                width: 150px;
                object-fit: cover;
            }
        }
    }
    > .product-info {
        padding: 20px;
    }
}

.btn-cart {
    border-radius: 0px;
    width: 100%;
    margin-top: 20px;
}

.product-header {
    margin-top: 100px;
}

.prod-image {
    > img {
        width: 400px;
        height: 400px;
        object-fit: cover;
    }
}

.product-info {
    > .prod-name {
        font-size: 32px;
    }

    > .price {
        color: red;
    }

    > .btn-add-cart {
        border-radius: 0px;
        width: 300px;
    }

    > .btn-my-cart {
        border-radius: 0px;
    }

    > .title {
        margin-top: 0px;
    }
}

.left {
    padding-left: 16px;
    text-align: left !important;
}

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #013567; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 999; /* Add a z-index if needed */
    left: 80%; /* Center the snackbar */
    top: 100px; /* 30px from the bottom */
}


/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 100px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 100px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 100px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

.btn.disabled {
    background: gray;
    border: gray;
}

.req {
    color: red
}

.payment-icon {
    margin-top: 8px;
    height: 20px;
    object-fit: contain;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}


#btn-checkout {
    margin-top: 20px;
    float: right;
}

.tab-content {
    padding-top: 40px;
    > #stripe-content {
        display: flex;
        > #payment-form {
            width: 70%;
            text-align: right;
        }
    }
}

.nav-tabs {
    > li {
        > a {
            > img {
                height: 50px;
            }
        }
    }
}

.promotion {
    height: 100vh;
    background: linear-gradient(
      rgba(48, 151, 209, 0.7),
      rgba(48, 151, 209, 0.7)
    ), url('/images/business.jpg'), no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
    > .logo {
        > img {
            height: 80px;
        }
    }
    > .quote {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-40%);
        -ms-transform: translateY(-40%);
        transform: translateY(-40%);
        > .title {
            font-size: 40px;
            font-weight: 600;
            color: #fff;
            margin-bottom: 0;
        }

        > .subtitle {
            color: #fff;
            font-size: 16px;
        }
        > .links {
            margin-top: 32px;
            > .btn-link {
                border: 1px solid white;
                padding: 8px 16px;
                font-weight: 600;
                border-radius: 50px;
                color: white;
                text-decoration: none;
            }
        }
    }
}

.signup {
    background: #fff;
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    > .content {
        padding: 20px 50px;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        > .title {
            font-size: 24px;
            color: black;
            font-weight: 600;
            text-align: center;
            margin-bottom: 20px;
        }
        > .btn-link-orange {
            width: 80%;
            margin: 0 auto;
            display: block;
            background-color: #405e9c;
            border-color: #405e9c;
            &:hover {
                background-color: #fff;
                border-color: #405e9c;
                color: #405e9c;
            }
        }
        .form-signup {
            margin-top: 20px;
            > label {
                display: block;
                margin-bottom: 0px;
            }
            > .input {
                display:block;
                border: none;
                border-bottom: 1px solid #969696;
                font-size: 12px;
                background-color: white;
                box-shadow: none;
                border-radius: 0px;
                margin-bottom: 8px;
                &:focus {
                    border: none !important;
                    border-bottom: 1px  solid #969696 !important;
                    outline: 0 !important;
                    box-shadow: none !important;
                    border-color: none !important;
                }
            }
            > p {
                text-align: center;
                margin-top: 24px;
            }
            > .btn-link-orange {
                padding:0px;
                text-transform: uppercase;
            }
        }
    }
    > ul {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: $gray;
        text-align: center;
        padding: 14px 0px 14px 0px;
        > li {
            list-style-type: none;
            display: inline-block;
            padding-left:8px;
            > a {
                font-size: 12px;
                color: black;
                text-decoration: none;
            }
        }
    }
}

.nav-text {
    background: #dfdfdf;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    > ul {
        padding: 0;
        margin: 0;
        display: inline;
        > li {
            display: inline;
            list-style-type: none;
            > a {
                font-weight: 600;
                text-decoration: none;
                color: #000;;
                padding-left: 32px;
            }
        }
        .active {
            > a {
                color: #3097d1;
            }
        }
    }
}

.admin-content {
    min-height: 500px;
}

.form-create {
    > .form-header {
        background: #3097d1;
        padding: 8px 20px;
        font-weight: 600;
        color: #fff;
        font-size: 16px;
        margin-bottom: 0px;
    }
    > .form-content {
        padding: 30px;
        background: #fff;
        margin-bottom: 20px;
        > .form-group {
            > label {
                font-weight: 400;
                margin-top: 16px;
                margin-bottom: 8px;
                > .req {
                    color: red;
                }
            }
        }
    }
    > .buttons {
        text-align: center;
    }
}

.profile-content {
    margin-top: 20px;
    > .form-create {
        > .form-content {
            .profile-picture {
                margin-bottom: 20px;
                display: flex !important;
                > .profile-img {
                    > img {
                        width: 100px;
                        height: 100px;
                        border-radius: 100%;
                        object-fit: cover;
                    }
                }
                > .content {
                    padding: 24px 20px;
                }
            }

            > .form-group {
                > .switch {
                    float: right;
                }
            }
        }
    }
}

.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 100px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 100%;
}

input:checked + .slider {
  background-color: #0cc90d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0cc90d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#myModal {
    > .modal-dialog {
        width: 500px !important;
        -webkit-transform: translateY(60%);
        -ms-transform: translateY(60%);
        transform: translateY(60%);
        > .modal-content {
            padding: 32px 24px;
            > .modal-body {
                padding: 0px;
            }
        }
    }
}


/* ----------- iPhone 4 and 4S ----------- */
@media only screen and (min-width: 320px) and (max-width: 640px) {
    .nav-text-container {
        margin: 0;
        padding: 0;
    }

    .navbar-brand {
        padding: 0;
        > img {
            height: 50px;
        }
    }

    .header-title {
        font-size: 18px;
        margin-top: 24px;
    }

    .header-content {
        width: 100%;
        font-size: 12px;
    }

    .service {
        margin-bottom: 24px;
        > a {
            > img {
                height: 150px;
                border-top: 1px solid #ccc;
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
            }
        }
        > .details {
            border-bottom: 1px solid #ccc;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }
    }

    .banner {
        margin-top: 24px;
        min-height: 280px;
    }

    .footer {
        padding: 24px 0;
    }

    .product-container {
        > .item {
            width: 130px;
            margin-left: 8px;
            margin-right: 0px;
            max-height: 210px;
            min-height: 210px;
            > .image {
                margin-bottom: 0;
                > a {
                    > img {
                        height: 120px;
                        min-height: 120px;
                    }
                }
            }

            > .content {
                background: white;
                > .name {
                    margin: 0;
                }
            }
        }
    }

    .search-query {
        > h2 {
            font-size: 20px;
        }
        > p {
            font-size: 12px;
        }
    }

    .product-header {
        margin-top: 24px;
    }

    .prod-image {
        > img {
            width: 100%;
            height: 250px;
        }
    }

    .product-info {
        > .prod-name {
            margin-top: 8px;
            font-size: 20px;
        }
        > .btn-add-cart {
            width: auto;
        }
    }

    #snackbar {
        margin-left: -222px;
    }

    .btn-lg {
        font-size: 14px;
    }

    .nav-tabs > li > a > img {
        height: 24px;
    }

    .tab-content {
        padding: 20px;
        background: white;
        margin-bottom: 24px;
    }

    .signup > .content {
        margin-top: 50px;
        top: auto;
        transform: none;
    }
}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .nav-text-container {
        margin: 0;
        padding: 0;
    }

    .navbar-brand {
        padding: 0;
        > img {
            height: 50px;
        }
    }

    .header-title {
        font-size: 18px;
        margin-top: 24px;
    }

    .header-content {
        width: 100%;
        font-size: 12px;
    }

    .service {
        margin-bottom: 24px;
        > a {
            > img {
                height: 150px;
                border-top: 1px solid #ccc;
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
            }
        }
        > .details {
            border-bottom: 1px solid #ccc;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }
    }

    .banner {
        margin-top: 24px;
        min-height: 280px;
    }

    .footer {
        padding: 24px 0;
    }

    .product-container {
        > .item {
            width: 130px;
            margin-left: 8px;
            margin-right: 0px;
            max-height: 210px;
            min-height: 210px;
            > .image {
                margin-bottom: 0;
                > a {
                    > img {
                        height: 120px;
                        min-height: 120px;
                    }
                }
            }

            > .content {
                background: white;
                > .name {
                    margin: 0;
                }
            }
        }
    }

    .search-query {
        > h2 {
            font-size: 20px;
        }
        > p {
            font-size: 12px;
        }
    }

    .product-header {
        margin-top: 24px;
    }

    .prod-image {
        > img {
            width: 100%;
            height: 250px;
        }
    }

    .product-info {
        > .prod-name {
            margin-top: 8px;
            font-size: 20px;
        }
        > .btn-add-cart {
            width: auto;
        }
    }

    #snackbar {
        margin-left: -222px;
    }

    .btn-lg {
        font-size: 14px;
    }

    .nav-tabs > li > a > img {
        height: 24px;
    }

    .tab-content {
        padding: 20px;
        background: white;
        margin-bottom: 24px;
    }

    .signup > .content {
        margin-top: 50px;
        top: auto;
        transform: none;
    }
}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4) {
    .nav-text-container {
        margin: 0;
        padding: 0;
    }

    .navbar-brand {
        padding: 0;
        > img {
            height: 50px;
        }
    }

    .header-title {
        font-size: 18px;
        margin-top: 24px;
    }

    .header-content {
        width: 100%;
        font-size: 12px;
    }

    .service {
        margin-bottom: 24px;
        > a {
            > img {
                height: 150px;
                border-top: 1px solid #ccc;
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
            }
        }
        > .details {
            border-bottom: 1px solid #ccc;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }
    }

    .banner {
        margin-top: 24px;
        min-height: 280px;
    }

    .footer {
        padding: 24px 0;
    }

    .product-container {
        > .item {
            width: 130px;
            margin-left: 8px;
            margin-right: 0px;
            max-height: 210px;
            min-height: 210px;
            > .image {
                margin-bottom: 0;
                > a {
                    > img {
                        height: 120px;
                        min-height: 120px;
                    }
                }
            }

            > .content {
                background: white;
                > .name {
                    margin: 0;
                }
            }
        }
    }

    .search-query {
        > h2 {
            font-size: 20px;
        }
        > p {
            font-size: 12px;
        }
    }

    .product-header {
        margin-top: 24px;
    }

    .prod-image {
        > img {
            width: 100%;
            height: 250px;
        }
    }

    .product-info {
        > .prod-name {
            margin-top: 8px;
            font-size: 20px;
        }
        > .btn-add-cart {
            width: auto;
        }
    }

    #snackbar {
        margin-left: -222px;
    }

    .btn-lg {
        font-size: 14px;
    }

    .nav-tabs > li > a > img {
        height: 24px;
    }

    .tab-content {
        padding: 20px;
        background: white;
        margin-bottom: 24px;
    }

    .signup > .content {
        margin-top: 50px;
        top: auto;
        transform: none;
    }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-width: 641px)
  and (max-width: 767px) {
    .nav-text-container {
        margin: 0;
        padding: 0;
    }

    .navbar-brand {
        padding: 0;
        > img {
            height: 50px;
        }
    }

    .header-content {
        width: 100%;
    }

    .prod-image > img {
        width: 100%;
    }

}

/* Portrait and Landscape */
@media only screen
  and (min-width: 768px)
  and (max-width: 991PX) {
    .nav-text-container {
        margin: 0;
        padding: 0;
    }

    .navbar-brand {
        padding: 0;
        > img {
            height: 50px;
        }
    }

    .header-content {
        width: 100%;
    }

    .prod-image > img {
        width: 100%;
    }

}
